body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
}

#form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input, #abilities, #bio{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio, #check {
    width: auto;
    margin-right: 5px;
}

label {
    display: block;
    text-align: left;
    margin: 5px 0;
}

#bio {
    height: 80px;
    resize: none;
}

#submit {
    background-color: #1f87b0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#submit:hover {
    background-color: #125874;
}